section {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaço entre os elementos */
    max-width: 300px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza a seção horizontalmente */
  }
  